.App {
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Verdana;
  background-color: #282c34;
}

.App-container {
    width: 1100px;
    margin: auto;
}

.App-header {
  width: 50%;
  text-align: center;
  height: 90px;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
}

.App-body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow-y: auto;  
}

.App-body-left {
  float: left;
}

.App-body-right {
  float: right;
}

.title {
  padding: 0px;
  margin: 0px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 2em;
}

.container {
  background-color: #6cc3e0;
  margin-left: 15px;
}

.container-title {
  background-color: #034353;
  color: white;
  padding: 9px;
  text-align: center;
  font-size: 1.2em;
}

.container-body {
  padding: 10px;
}

.Totals-container {
  width: 400px;
  height: 250px;
  color: black;
  overflow: auto;
}

.Totals-container table {
  font-size: 0.8em;
}

.Remote-container {
  float: left;
  margin-top: 15px;
  width: 400px;
}

.History-container {
  width: 600px;
}

.History-container table {
  font-size: 0.8em;
  color: black;
}

.History-container td {
  margin: 5px;
}

.History-container th {
  text-align: left;
}

button {
  background-color: rgb(12, 47, 58);
  border: 0px;
  color: white;
  padding: 8px 15px 8px 15px;
}

button:hover {
  background-color: #06667e;
  cursor: pointer;
}